<h1>Sign Up</h1>
<form action="/signup" method="post">

	<label for="username">Enter new username: </label><br>
	<input type="text" name="username">
	<br>
	<br>

	<label for="password">Enter new password: </label><br>
	<input type="password" name="password">
	<br>
	<br>
	<input type="submit" value="Sign Up">
</form>